# Dependencies
node_modules
.pnpm-store

# Build output
dist

# Tests
test
**/*.spec.ts
**/*.e2e-spec.ts
coverage

# Dev / Editor
.vscode
.idea
*.swp
*.swo

# Environment
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Documentation
*.md
LICENSE

# Docker
Dockerfile
Dockerfile.dev
.dockerignore
docker-compose*.yml
